<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kanzhihu.android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 下载新版apk -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="kanzhihu.android.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="3a890bbe7348f76b28275815a69d0a47fd50f09f"/>

        <activity
            android:name="kanzhihu.android.activities.MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="kanzhihu.android.activities.SettingActivity"
            android:label="@string/title_activity_setting">
        </activity>
        <activity
            android:name="kanzhihu.android.activities.BrowseActivity"
            android:label="@string/title_activity_browse"
            android:uiOptions="splitActionBarWhenNarrow"/>
        <activity
            android:name="kanzhihu.android.activities.SearchActivity"
            android:theme="@style/SearchActivity_MaterialTheme"
            android:label="@string/title_activity_search">
        </activity>

        <provider
            android:name="kanzhihu.android.database.ZhihuProvider"
            android:authorities="${applicationId}.provider"
            android:enabled="true"
            android:exported="false">
        </provider>
    </application>

</manifest>
